<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href="{{ url_for('static', filename='css/main.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>RNN</title>
</head>
<body>
    <div class="center">
        <h2>Sentiment Analysis API</h2>
    </div>
    <div class="center">
        <p>
            This is a basic application that allow users to do a sentiment analysis. For more information, Please visit the <a href="url">github link</a>.
        </p>
    </div>
    <div class="center ">
        <form id="single_form">
            <label for='single'>Single sentence</label> <br>
            <input type='text' id='single' name='single' size='60' placeholder='Enter a sentence'> <br>
            <input type="submit" value="singleSubmit">
        </form>

        <div id='single_result'>
        </div>


        <form id="multiple_form" class="second">
            <label for='multiple'>Multiple sentence</label> <br>
            <textarea id="multiple" name='multiple' rows="4" cols="50"></textarea> <br>
            <input type="submit" value="multipleSubmit">
        </form>
        <div class='multiple_result'>
            <p style='color: red; font-size:60%;'>*Each new line represents a seperate sentence</p>
        </div>
    </div>

    <script>
        $('#single_form').submit(function(e){
            e.preventDefault();
            var form = $(this);
            var url=form.attr('action');

            $.ajax({
                type:'POST',
                url: '/single',
                data: form.serialize(),
                success: function(data)
                {
                    var distinct = data['data'] == '1' ? 'Positive' : 'Negative'
                    var color_ = distinct == 'Positive'? 'green' : 'red'
                    $('#single_result').text(data['data'] == '1'? 'Positive':'Negative')
                    $('#single_result').css('color', color_)
                }
            });
        });

        $('#multiple_form').submit(function (e) {
                e.preventDefault();
                var form = $(this);
                var url = form.attr('action');

                $.ajax({
                    type: 'POST',
                    url: '/multiple',
                    data: form.serialize(),
                    success: function (data) {
                        var string_ = "<div class = 'multiple_result lst'> <ol>"
                        var i;
                        for ( const property in data['data'] ){
                            var data_string = data['data'][property] == '1' ? 'Positive' : 'Negative';
                            var color_ = data_string == 'Positive'? 'green' : 'red';
                            string_ = string_ + '<li style = "color:'+ color_ + ';">' + property + ': ' +  data_string + '</li>'

                        }
                        console.log(string_);
                        string_ = string_ + '</ol></div>'
                        $('.multiple_result').replaceWith(string_)
                    }
                });
            });
    </script>

</body>
</html>